body {

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue" "Quicksand",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*code cards*/
.thecard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 320px;

}
p  {
  font-family: 'Quicksand', sans-serif;
}
.font-nice {
  font-family: 'Quicksand', sans-serif;
}
.thecard__side {
  transition: all .8s;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  height: 320px;
}


.thecard__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  height: 320px;

}

.thecard:hover .thecard__side--front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.thecard:hover .thecard__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.height-card {
height: 320px !important;
}
